<form [formGroup]="form" (ngSubmit)="sub()">
  <ng-container *ngFor="let item of question " >
  <div  *ngIf="count==item.id">
  <p>{{item.name}}: {{item.ques}}</p>
  <div *ngFor="let items of item.options">
  <input type="radio" [value]='items.val' formControlName="question">
  <label > {{items.val}} </label>
  </div>
</div>
</ng-container>
<button>Submit</button>
<div *ngIf="count==10">
  Thanks
</div>
<div>
  Score:{{score}}/10;
</div>
{{form.value|json}}
</form>
<ngx-gauge [type]="gaugeType" 
[min]="min"[max]="max"[animate]=true [cap]="butt"[thresholds]="thresholds"[value]="gaugeValue" [label]="gaugeLabel"[append]="gaugeAppendText">        
</ngx-gauge>