.heading{
    text-align:center;
}
.main{
    text-align: center;
   
        margin-top: 14%;
        margin-left: 6.5%;
    
}
.color{
    color:#f5f5f5de;

}
.h100{
    height: 100%;
}
.mt{
    margin-top: 40%;
}
.bg {
    /* The image used */
    background-image: url("https://previews.123rf.com/images/everythingpossible/everythingpossible1504/everythingpossible150400007/38966459-laptop-with-blank-screen-on-white-desk-with-blurred-background-as-concept.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media screen and (max-width: 650px) {
    .bg {
        background-attachment: scroll;
        background-image: url("https://st3.depositphotos.com/4799321/12551/v/950/depositphotos_125516044-stock-illustration-tablet-with-white-screen-flat.jpg");
        
    }
    .col-md-5{
        padding:0px 20px;
        margin-left: 37px;
    margin-right: 35px;

    }
}